body{
    background: #7b02f3;
    font-family: 'Brush Script MT', cursive;
    color: #e0d8e6;
    position: absolute;
    top: 300px;
    left: 800px;
}

body{
    background: url(https://media.giphy.com/media/xNM0oQHQwAeoEL8Uyr/giphy.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

